{% extends "../base.html" %}

{% block content %}


<div class="mt-5">
    <div class="card" style="width: 50%; margin: auto">
        <div class="card-body">
            <h2>Añadir nuevo proyecto:</h2>
            <form method='post' novalidate class="mt-3">
                {% csrf_token %}
                {{ form.as_div }}
                <div class="d-grid">
                    <button class="submit">Crear</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

 
{% endblock content %}

